


/* edit activ li and nav-link in navbar */
a.active{
    color: red !important;
}

a.nav-link:hover{
    color: red!important;
}


.facts-section .col-sm-1{
    width: 0%;
    padding: 0;
    margin: 0;
}




/* Test sections */
.card{
    
    color: red;
    /* height: 100px; */
}